.navColor {
    background-color: #f5a83d
}

.container {
    max-width: 100% !important;

}

.navbar-brand {
    font-family: 'Comfortaa', cursive;
    margin-left: 1%;
    font-size: 170%;
    font-weight: 700!important;
}

.nav-link {
    font-family: 'Comfortaa', cursive;
}


.frm {
    text-align: center;
}

.navbar-logo {
margin-left: -0.75%;
margin-top: -0.4%;
margin-bottom: -0.65%;
}

.nav-item1 {
    margin-left: 90%;
}

.nav-item2 {
    margin-left: 200%;
}


.row {
    margin-right: 0px !important;
    margin-left: -15px !important;
    background-color: #FFF9C4 !important;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    margin-left: 540px;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
    font-size: 120%;
    margin-left: 30px;
    font-weight: 700!important;
  }
  